@using AstinIt.Areas
@model ProjectCost

@{
    ViewBag.Title = "New project";
    Layout = "~/Views/Admin/_Layout.cshtml";
}


<h2>@Html.DisplayFor(model => model.Name) </h2>

@{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.Hidden("Id", Guid.NewGuid().ToString())

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Value, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrencyId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @{
                    IEnumerable<Currency> dropDownModel = new List<Currency>();
                    this.UsingDb(db => { dropDownModel = db.Currency.ToList(); });
                    @Html.DropDownListFor(model => model.CurrencyId, dropDownModel.ConvertToListItems(null))

                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" class="btn btn-primary" value="Add" />
            </div>
        </div>
    }

}
